<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exae.memorialapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".CusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemorialApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CreateHallResultActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".detail.ModifyMemorialHallActivity"
            android:exported="false" />
        <activity
            android:name=".detail.TwoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".detail.MoreDetailActivity"
            android:exported="false" />
        <activity
            android:name=".detail.SingleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.ChargeMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".user.ModifyUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".hall.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".hall.ChooseTableStyleActivity"
            android:exported="false" />
        <activity
            android:name=".hall.ChooseHallStyleActivity"
            android:exported="false" />
        <activity
            android:name=".hall.ChooseMemorialActivity"
            android:exported="false" />
        <activity
            android:name=".hall.ManageMemorialActivity"
            android:exported="false" />
        <activity
            android:name=".hall.SingleHallActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".hall.CreateHallActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PosVerificationCodeLoginActivity"
            android:exported="false" />
    </application>

</manifest>